:root {
  --primary: #33235a;
  --primary-600: #1d103d;
  --primary-font: "poppins";
  --alt-font: "Merriweather", serif;
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.header-button {
  margin-left: 5px !important;
}

.btn-nav {
  display: none;
}
.btn-primary:hover {
  background-color: var(--primary-600);
}
.btn.btn-primary:active {
  border: none;
  background-color: none;
  color: red;
}
.bg-purple {
  background-color: var(--primary);
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none;
  box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none;
}
.btn.btn-cta {
  background-color: var(--primary);
  color: white;
}
.color-primary {
  color: var(--primary) !important;
}
.alt-font {
  font-family: var(--alt-font);
  font-weight: 200;
}
.sub-header-alt {
  letter-spacing: 2.5px;
  font-weight: 200;
  font-size: small;
  color: #c7bce4;
}
.text-sm {
  font-size: small;
}
@media (min-width: 991.98px) {
  .navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-nav {
    display: flex;
  }
}

nav .btn {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 14px;
}
