:root {
  --primary: #33235a;
  --primary-600: #1d103d;
  --primary-font: "poppins", sans-serif;
  --alt-font: "Merriweather", serif;
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font);
}
button {
  transition: 250ms ease-in-out;
}
btn-cta:hover {
  background-color: #1d103d !important;
}
.header-button {
  margin-left: 5px !important;
}
.link-hover {
  transition: 250ms ease-in-out;
}
.link-hover:hover {
  color: #716292 !important;
}
.btn-nav {
  display: none;
}
.no-deco {
  text-decoration: none !important;
}

.btn-primary:hover {
  background-color: var(--primary-600);
}

.btn.btn-primary:active {
  border: none;
  background-color: none;
}
.bg-purple {
  background-color: var(--primary);
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none;
  box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none;
}
.btn.btn-cta {
  background-color: var(--primary);
  color: white;
}
.color-primary {
  color: var(--primary) !important;
}
.color-secondary {
  color: #c7bce4;
  transition: 200ms ease-in-out;
}
.contact-icons:hover {
  color: #a492d1;
}

.alt-font {
  font-family: var(--alt-font);
  font-weight: 200;
}
.sub-header-alt {
  letter-spacing: 2.5px;
  font-weight: 200;
  font-size: small;
  color: #c7bce4;
}
.text-sm {
  font-size: small;
  letter-spacing: 0.7px;
}
.rounded-corners {
  border-radius: 15px;
}
.carousel-container {
  width: 67%;
}
.gallery {
  width: 100%;
}
.gallery img {
  width: 100%;
}
@media (min-width: 991.98px) {
  .navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-nav {
    display: flex;
  }
}

nav .btn {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 14px;
}
